/* tag modification */
input {
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

input.transparent {
    background-color: transparent;
    border: solid white 1px;
}

input.transparent::placeholder {
    color: white;
}

input.transparent:focus {
    outline: 2px white solid;
}

/* height and width properties */
.max-width {
    width: 100%;
}

.max-width-90 {
    width: 90vw;
}

.max-width-80 {
    width: 80vw;
}

.max-width-75 {
    width: 75vw;
}

.max-height {
    height: 100%;
}

.max-height-vh {
    height: 100vh;
}

.min-height-90 {
    min-height: 90%;
}

/* background color */
.bg-black {
    background-color: black;
}

.bg-love {
    background: linear-gradient(15deg, red, white);
}

.bg-love-animated {
    background: linear-gradient(15deg, rgb(255, 113, 113), rgb(255, 216, 216));
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;
}
@keyframes color {
    0% {
        background-position: 0 20%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 20%;
    }
}



/* font color */
.fc-white {
    color: white;
}

.fc-light-red {
    color: rgb(226, 71, 71);
}

/* display properties */

.flex {
    display: flex;
}

.inline {
    display: inline;
}

/* align properties */
.align-vertical {
    align-items: center;
    flex-direction: column;
}

.align-vertical-center {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.align-vertical-top {
    align-items: center;
    flex-direction: column;
    justify-items: start;
}

.align-vertical-left {
    align-items: left;
    flex-direction: column;
    justify-items: baseline;
}

.align-vertical-right {
    flex-direction: row;
    justify-items: right;
    justify-content: right;
}

.align-vertical-bottom {
    align-items: flex-end;
    -ms-flex-align: end;
    flex-direction: column-reverse;
}

.align-horizontal {
    align-items: center;
    flex-direction: row;
}

.align-center { 
    justify-content: center;
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}


/* transition stuff */
.hideable {
    opacity: 100%;
    transition: opacity 1000ms; 
}

.hideable.fadeHide {
    opacity: 0%;
}

.hideable.fullHide {
    display: none;
}

/* separators */
.vertical-separator-0 {
    height: 2px;
    width: 0px;
}

.vertical-separator-1 {
    height: 5px;
    width: 0px;
}

.vertical-separator-2 {
    height: 10px;
    width: 0px;
}

.vertical-separator-3 {
    height: 20px;
    width: 0px;
}

.vertical-separator-4 {
    height: 40px;
    width: 0px;
}

/* positioning */
.position-absolute {
    position:absolute;
}

.position-absolute.bottom-right {
    bottom: 20px;
    right: 20px
}

.position-absolute.bottom-left {
    bottom: 20px;
    left: 20px
}

.position-absolute.left-1 {
    left: 20px
}

.position-absolute.top-right {
    top: 20px;
    right: 20px
}

.position-absolute.top-left {
    top: 20px;
    left: 20px
}

.position-absolute.top-left-2 {
    top: 20px;
    left: 40px
}

.position-absolute.right {
    right: 0px
}

.position-absolute.left {
    left: 0px
}

.position-relative {
    position: relative;
}

.position-relative.over-left {
    left: -10px;
}
/* misc */
.no-margin {
    margin: 0px;
}

/* special items */
.loading_bar {
    height: 2px;
    width: 80vw;
    background-color: grey;
}

.loading_bar.value {
    height: 2px;
    width: 0%;
    background-color: white;
}

.icon-container {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    transition: filter 1s;
}

.icon-container:active {
    background-color: white;
}

.icon-container.icon-smaller {
    width: 50px;
    height: 50px;
}

.icon-heart {
    content: url('./images/icons/heart.png');
    width: 100%;
    filter: invert(1);
}

.icon-thumbs-down {
    content: url('./images/icons/thumb-down.png');
    width: 100%;
    filter: invert(1);
}

.icon-text {
    content: url('./images/icons/speech-bubble.png');
    width: 100%;
    filter: invert(1);
}

.icon-back {
    content: url('./images/icons/left-chevron.png');
    width: 100%;
    filter: invert(1);
}

.icon-close {
    content: url('./images/icons/close.png');
    width: 100%;
    filter: invert(1);
}

.icon-attachment {
    content: url('./images/icons/attachment.png');
    width: 100%;
}

.icon-attachment.small {
    width: 30px;
    height: 30px;
}

.match_image_container {
    width: 75vw;
    height: 75vw;
    border: 5px white solid;
    border-radius: 20px;
}

.match_image {
    width: 95%;
    height: 95%;
    object-fit: contain;
    border-radius: 15px;
}

.notification-icon {
    width: 22px;
    height: 22px;
    border-radius: 20px;
    position: absolute;
    left: -10px;
    top: -10px;
    border: solid white 3px;
    background-color: rgb(255, 95, 95);
    transition: opacity 200ms;
    animation: notification-blink 5s linear infinite;
}
@keyframes notification-blink {
    0% {
        background-color: rgb(255, 95, 95);
    }
    90% {
        background-color: rgb(255, 95, 95);
    }
    95% {
        background-color: rgb(255, 255, 255);
    }
    100% {
        background-color: rgb(255, 95, 95);
    }
}

.notification-icon.hidden {
    opacity: 0;
}

.switch {
    width: 50px;
    height: 100px;
    border: solid white;
    border-radius: 10px;
}

.switch:active {
    background-color: white;
}

.switch.right-side {
    border-right: 0px;
    right: -10px;
}

.switch.left-side {
    border-left: 0px;
    left: -10px;
}

.switch-left-icon {
    content: url('./images/icons/left-chevron.png');
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.switch-right-icon {
    content: url('./images/icons/left-chevron.png');
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
    rotate: 180deg;
}

.text_section {
    border-radius: 10px;
    border: solid white 1px;
    min-height: 50px;
    width: 85vw;
    height: 60vh;
    overflow-y: auto;
}

.text_section.wider {
    width: 92vw;
}

.text_section.taller {
    height: 75vh;
}

.text_thread {
    position: relative;
    margin: 2px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    padding-left: 25px;
}

.text_thread:active {
    background-color: rgb(255, 103, 103);
}

.text_thread.read {
    background-color: rgb(226, 157, 157);
}

.text_thread.read:active {
    background-color: rgb(255, 103, 103);
}

.message_bubble {
    min-width: 10px;
    max-width: 240px;
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    justify-content: left; 
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    margin-bottom: 5px;
}

.message_bubble.bubble_two {
    background-color: transparent;
    color: white;
    border: solid 2px white;
    font-weight: bold;
}

.popup_background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.158);
    z-index: 100;
}
